<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'List of Vets'">List of Vets...</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="'Id'"/>
            <th th:text="'First Name'"/>
            <th th:text="'Last Name'"/>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="vets" type="org.learning.spring.guruspringpetclinic.model.Vet"*/-->
        <tr th:each="vet : ${vets}" >
            <td th:text="${vet.id}"/>
            <td th:text="${vet.firstName}"/>
            <td th:text="${vet.lastName}"/>
        </tr>
        </tbody>
    </table>
</body>
</html>